<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beta.drab.moodtracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ModifyMoodActivity"
            android:label="@string/title_activity_modify_mood" >
        </activity>
        <activity
            android:name=".Activities.MoodAdderActivity"
            android:label="@string/title_activity_mood_adder" >
        </activity>
        <activity
            android:name=".Activities.SelectTriggerActivity"
            android:label="@string/title_activity_select_trigger" >
        </activity>
        <activity
            android:name=".Activities.EnterBehaviorActivity"
            android:label="@string/title_activity_enter_behavior" >
        </activity>
        <activity
            android:name=".Activities.EnterBeliefActivity"
            android:label="@string/title_activity_enter_belief" >
        </activity>
        <activity
            android:name=".Activities.PatternDisplayActivity"
            android:label="@string/title_activity_pattern_display" >
        </activity>
        <activity
            android:name=".Activities.PreferencesActivity"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name=".Activities.ModifyTextActivity"
            android:label="@string/title_activity_modify_text" >
        </activity>
    </application>

</manifest>
